// Place all the styles related to the battles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #000099;
$webpage-bg: #DCDCDC;

body {
	background-color: $webpage-bg;
}

header {
	background-color: $primary-color;
	padding-top: 14px;
	padding-left: 14px;
}

header h1 {
	color: white;
}

.content-main {
	padding-left: 14px;
	padding-top: 14px;
}

a {
	display:block;
}